h1{
	text-align: center;
	font-family: georgia;
}
div{
	background: #999999;
	box-sizing: border-box;
	padding: 7px 3px 3px 3px;
	border: 2px black solid;
	float: left;
	margin:10px;
}
#subject{
	width: 100%
	background-color:white;
	border:0px;
	font-size:15px;

}
#physics{
	background-color: blue;
	color:white;
	font-size: 2.50em;
	float:right;
}
#chemistry{
	background-color: pink;
	color:red;
	font-size: 2.50em;
	float:right;
}
#mathematics{
	background-color: red;
	color:black;
	font-size:1em;
	float:right;
}
.para
{
	border:0px white solid;
	text-align: justify;
}
@media(min-width: 992px){
	.lg_col_4{
		width: 25%
	}
}
@media(min-width: 768px) and (max-width:991px){
	.m_col_6{
		width:30%;
	}
	.m_col_12{
		width: 100%;
	}
}
@media(max-width: 767px)
{
	.sm_col_12{
		width:100%;
	}
}